# Discord Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DEV_ID=

# Discord OAuth (Painel Admin)
DISCORD_CLIENT_SECRET=
AUTH_SECRET=
AUTH_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/dare_bot
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=dare_bot
DATABASE_LOGGING=false

# Optional
DEBUG=false
NODE_ENV=development
